@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@layer base {
 body {
  font-family: theme("fontFamily.sans");
  // background-attachment: fixed;
  background-color: theme("colors.zinc.900");
  color: theme("colors.light");
  // background-image: linear-gradient(to bottom, theme("colors.dark"), theme("colors.dark"), rgb(47, 52, 49));
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  word-break: break-all;

  @media screen and (min-width: theme("screens.xs")) {
   word-break: normal;
  }
 }

 #app {
  min-height: 100vh;
  max-width: 1536px;
  margin: 0 auto;
 }

 video {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  object-position: center;
  background-attachment: fixed;
  object-fit: cover;
  height: 100vh;
  z-index: -1;
  filter: brightness(.40);
 }

 a {

  &:hover,
  &:focus {
   text-decoration: underline;

   span {
    text-decoration: underline;
   }
  }
 }
}

@layer components {
 .thumbnail {
  width: 64px;
  height: 64px;
  aspect-ratio: 1 / 1;

  @media screen and (min-width: theme("screens.xs")) {
   height: 96px;
   width: 96px;
  }

  @media screen and (min-width: theme("screens.sm")) {
   width: 144px;
   height: 144px;
  }

  @media screen and (min-width: theme("screens.xl")) {
   width: 192px;
   height: 192px;
  }

  &.full {
   width: 128px;
   height: auto;
   aspect-ratio: 1 / 1;
  }
 }

 .btn-secondary {
  border-radius: theme("borderRadius.DEFAULT");
  background-color: theme("colors.spotify");
  padding: theme("padding.2");
 }

 .btn-active {
  filter: brightness(1.25);
 }

 .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .track {
  display: flex;
  flex-direction: column;
  @apply p-2;
  @apply gap-2;
  @apply ellipsis;

  .position,
  .album,
  .duration {
   display: none;
  }

  .track-image {
   width: 100%;
   max-width: 250px;
   aspect-ratio: 1 / 1;
  }

  .details,
  .artists,
  .album {
   @apply ellipsis;
  }

  @media screen and (min-width: theme("screens.xs")) {
   display: grid;
   padding: theme("padding.2") theme("padding.4");
   gap: theme("gap.4");
   place-items: center;
   border-radius: theme("borderRadius.md");
   grid-template-columns: max-content max-content 1fr;

   .track-image {
    height: 64px;
    width: 64px;
   }

   .details {
    width: 100%;
   }

   .position {
    display: block;
   }
  }

  @media screen and (min-width: theme("screens.sm")) {
   grid-template-columns: max-content 64px minmax(0, 1fr) 1fr max-content;

   .album {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
   }

   .duration {
    display: block;
   }
  }
 }

 .card {
  img {
   &:before {
    content: "We're sorry, the image below is broken :(";
    display: block;
    margin-bottom: 10px;
   }

   &:after {
    content: "(url: "attr(src) ")";
    display: block;
    font-size: 12px;
   }
  }
 }
}


#header {
 display: flex;
 position: sticky;
 top: 0;
 justify-content: center;
 width: 100%;
 padding: theme("padding.2") 0;
 z-index: 10;
 background: transparent;
 transition: .5s ease-in-out all;

 img {
  height: auto;
  width: 96px;
 }

 nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: theme("gap.2");
  justify-content: space-evenly;
  background: theme("colors.dark");
  box-shadow: 0 0 3px black;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  a {
   padding: theme("padding.2") 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   border-bottom: 3px solid transparent;

   svg {
    height: 1.5em;
    width: 1.5em;
   }

   &:hover,
   &:focus {
    text-decoration: none;
    color: theme("colors.spotify");
    border-bottom-color: transparent;

    span {
     text-decoration: none;
    }

    @media screen and (min-width: theme("screens.xs")) {
     color: theme("colors.light");
     border-bottom-color: theme("colors.spotify");
     background: theme("colors.spotify");
    }
   }

   span {
    width: fit-content;
    font-size: theme("fontSize.xs");
    display: none;

    @media screen and (min-width: theme("screens.xs")) {
     display: block;
    }
   }
  }
 }

 @media screen and (min-width: theme("screens.md")) {
  justify-content: space-between;
  align-items: center;
  padding: 0 theme("padding.8");

  nav {
   position: static;
   width: max-content;
   gap: 0;
   padding: 0;
   background: transparent;
   box-shadow: none;

   a {
    padding: theme("padding.2") theme("padding.4");
   }
  }
 }
}